
<!DOCTYPE HTML>
<html>
<head>
    <link href="../assets/styles/stylecat.css" rel="stylesheet">
    <link href="css/lightbox.css" rel="stylesheet" />
    <meta charset="UTF-8">
        <title>Cat</title>
</head>
<body>
          <section>
                    <article>
                <h1>Samsung S8</h1>
                         <p>--------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
<p>
    <div id="slideshow">
    <ul id="sContent">
        <li><a href="../assets/images/1.png"><img class = "taille" src="../assets/images/1.png" alt="Image bleue" /></a></li>
        <li><a href="../assets/images/2.jpg"><img class = "taille1" src="../assets/images/2.jpg" alt="Image bleue" /></a></li>
        <li><a href="../assets/images/3.jpg"><img class = "taille2" src="../assets/images/3.jpg" alt="Image bleue" /></a></li>

    </ul>
</div>
</p>
<p>
    <div class = "cat">
    <font color="red">Caractéristiques générales</font><br />
Design  Classique (full tactile)<br />
Dimensions  148,9 x 68,1 x 8 mm<br />
Poids   155 grammes<br />
Autonomie   Non communiqué<br />
Niveau d'exposition (DAS)   0,315 W/Kg<br />
Système d'exploitation (OS)     Android 7.0 Nougat<br />
Processeur  Samsung Exynos 8895 - 2.3 GHz<br />
Date de sortie  Avril 2017<br />
<font color="red">Écran</font><br />
Taille (diagonale)  5,8 pouces<br />
Résolution  2960 x 1440 pixels<br />
Nombre de couleurs  16 millions de couleurs<br />
Tactile     oui, multipoints (multitouch) capacitif<br />
<font color="red">Communication / Réseaux</font><br />
Fréquences  850-900/1800-1900 Mhz (quadri-bande)<br />
GPRS    Classe 10 : GPRS (4+2)<br />
EDGE    oui<br />
UMTS (3G)   H+ 42 Mbps (HSPA+)<br />
4G  1024 Mbps<br />
Wi-Fi / UMA / UPnP  802.11 a/b/g/n/ac<br />
GPS intégré     oui (A-GPS)<br />
<font color="red">Multimedia</font><br />
Appareil photo  12 mégapixels avec Flash double LED + Auto Focus<br />
Vidéo   oui<br />
Sonneries   polyphoniques<br />
Lecteur MP3/AAC     MP3 / AAC / WMA<br />
Radio FM    oui<br />
Jeux    -<br />
<font color="red">Mémoire</font><br />
Répertoire  Mémoire partagée<br />
Mémoire interne     64 Go, 4 Go RAM<br />
Carte mémoire   microSDXC<br />
Acheter une carte mémoire   <br />
<font color="red">Bureau</font><br />
Messagerie  SMS / EMS / MMS / e-mail (push)<br />
Internet mobile     WAP 2.0 + navigateur Web<br />
Mains-libres    oui<br />
Mémo vocal  oui<br />
Numérotation vocale     oui<br />
Visualisation doc.  oui (Excel, Word...)<br />
<font color="red">Connectivité</font><br />
Bluetooth   oui, Bluetooth 5.0<br />
Acheter un accessoire Bluetooth<br />
Câble data  USB 3.1<br />
Prise Jack 3,5 mm   oui<br />
Autres  non<br />
<br /><a href="categ.html"><input type="submit" value="Retour" class="valider" /></a>

</div>
</p>

                   </article>
            </section>
            <aside>

            </aside>

</body>
</html>